@use 'constants';

[class*='anim__'] {
  will-change: transform, opacity;
}

@include anim__('fadeIn', '', '');
@include anim__('fadeIn', 'Left', 'Tiny');
@include anim__('fadeIn', 'Up', 'Tiny');
@include anim__('fadeIn', 'Up', 'Big');

.anim__fadeIn {
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.anim__thumbsUp {
  animation: thumbs 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.25);
}

.anim__onDeleteLead {
  animation: onDeleteLead 1.25s cubic-bezier(0.68, -0.65, 0.265, 1.25) forwards;
  // transform-origin: top right;
}

@keyframes thumbs {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  30%,
  70% {
    transform: scale(3) rotateZ(360deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes onDeleteLead {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0) rotateZ(720deg);
  }
}
