html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: auto;
}

body * {
  font-family: inherit !important;
}

* {
  box-sizing: border-box;
}

a {
  @apply transition hover:scale-110 focus:scale-110;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

svg {
  path:not([fill]) {
    stroke: currentColor;
  }
}

.h-1m {
  height: calc(1em + 0.125rem);
}

.debugger {
  *,
  & {
    border: 1px solid red;
  }
}
