html,
body {
  width: 100%;
  margin: 0;
  position: relative;
}

html {
  height: 100%;
  overflow: auto;
}

body * {
  font-family: inherit !important;
}

* {
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    color: rgba(255, 255, 255, 0.85);
  }
}

a {
  @apply transition hover:scale-110 focus:scale-110;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.SVGIcon:not([class*='fill-']) {
  path:not([fill]) {
    stroke: currentColor;
  }
}

svg[color='currentColor'] {
  &,
  * {
    color: currentColor !important;
  }
}

.h-1m {
  height: calc(1em + 0.125rem);
}

.debugger {
  *,
  & {
    border: 1px solid red;
  }
}
